.post-list_main_div {
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post_display {
    display : inline-block;
    background-color: none;
    border: 0;
    box-shadow:  1px 1px 5px 1px #0bebdf;
    padding: 1rem;
    cursor: pointer; 
    position: relative;
    margin: 1.1rem;
    width : 260px;
    text-align: left;
    padding-left : 30px;
    height: 70px;
    border-radius: 9px;
    font-size: large;
}

.no-decoration {
    text-decoration: none;
    color:black;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .post_display {
        margin: 0.5rem 0.3rem;
    }
  }


