.header_main_div  h1{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: #4e4e4e; 
    padding-top: 2.2%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .header_main_div h1 {
        font-size: 2.2rem;
      }
}